In [1]:
#pip install pymongo

In [1]:
from pymongo import MongoClient # import mongo client to connect  
import pprint

In [2]:

# Creating instance of mongoclient  
client = MongoClient()

In [3]:
# Creating database  
db = client.sample

In [4]:

# Creating document  (collection)
employees = db.employees

In [5]:
employee = {"id": "101",  
"name": "Peter",  
"profession": "Software Engineer",  
}

In [6]:
# Inserting data  
employees.insert_one(employee)

In [7]:
employees.find_one()

{'_id': ObjectId('62a830b3652508010d8ca27f'),
 'id': '101',
 'name': 'Peter',
 'profession': 'Software Engineer'}

In [38]:
# # Fetching data  
# pprint.pprint(employees.find_one())

In [8]:
# Existing list of DBs -

client.list_database_names()

['admin', 'config', 'local', 'sample']

In [10]:
# let's verify whether we have our database in the list or not 
# we'll use the following function:-

def checkExistence_DB(DB_NAME, client):
    """It verifies the existence of DB"""
    DBlist = client.list_database_names()
    if DB_NAME in DBlist:
        print(f"DB: '{DB_NAME}' exists")
        return True
    print(f"DB: '{DB_NAME}' not yet present OR no collection is present in the DB")
    return False

DB_NAME = "sample"
_ = checkExistence_DB(DB_NAME=DB_NAME , client=client)

DB: 'sample' exists

In [11]:
# Verify DATABASE
_ = checkExistence_DB(DB_NAME=DB_NAME, client=client)

DB: 'sample' exists

In [14]:
# let's verify whether we have our database in the list or not 
# we'll use the following function:-

def checkExistence_COL(COLLECTION_NAME, DB_NAME, db):
    """It verifies the existence of collection name in a database"""
    collection_list = db.list_collection_names()
    
    if COLLECTION_NAME in collection_list:
        print(f"Collection:'{COLLECTION_NAME}' in Database:'{DB_NAME}' exists")
        return True
    
    print(f"Collection:'{COLLECTION_NAME}' in Database:'{DB_NAME}' does not exists OR \n\
    no documents are present in the collection")
    return False


COLLECTION_NAME = "employees"
_ = checkExistence_COL(COLLECTION_NAME=COLLECTION_NAME, DB_NAME=DB_NAME, db=db)

Collection:'employees' in Database:'sample' exists

In [16]:
_ = checkExistence_COL(COLLECTION_NAME=COLLECTION_NAME, DB_NAME=DB_NAME, db=db)

Collection:'employees' in Database:'sample' exists

In [19]:
record = {
    "name": "Hitesh",
    "email": "hitesh@hiteshchoudhary.com",
    "contact": ["9999999999","88888888888"],
    "courseCount": 4,
    "courseOffered": 'Deep Learning for Computer Vision',
    "isVerified": True
}

In [20]:
employees.insert_one(record)

# Insert multiple records

In [22]:
list_of_records = [
    
  {
    "name": "Hitesh",
    "email": "hitesh@hiteshchoudhary.com",
    "courseCount": 4
  },
  {
    "name": "Mark",
    "email": "mark@example.com",
    "courseCount": 2
  },
  {
    "name": "Tom",
    "email": "tom@example.com",
    "courseCount": 5
  },
  {
    "name": "Jerry",
    "email": "jerry@example.com",
    "courseCount": 3
  },
  {
    "name": "spider",
    "email": "spider@example.com",
    "courseCount": 2
  }]

In [23]:
mul_rec = employees.insert_many(list_of_records)

In [24]:
#employees.find_one()

{'_id': ObjectId('62a830b3652508010d8ca27f'),
 'id': '101',
 'name': 'Peter',
 'profession': 'Software Engineer'}

In [26]:
# rec = employees.insert_many(list_of_records)

# lets print he unique ID that of the record that we have inserted -
inserted_IDs = mul_rec.inserted_ids

for idx, unique_ids in enumerate(inserted_IDs):
    print(f"{idx}. {unique_ids}")

0. 62a831fa652508010d8ca281
1. 62a831fa652508010d8ca282
2. 62a831fa652508010d8ca283
3. 62a831fa652508010d8ca284
4. 62a831fa652508010d8ca285

In [28]:
COLLECTION_NAME = "students"
students = db[COLLECTION_NAME]

list_of_records_user_defined_id =[
    {
    "_id": "6",
    "name": "Hitesh",
    "email": "hitesh@hiteshchoudhary.com",
    "contact": "9999999999",
    "courseCount": 4,
    "isVerified": True
},
{
    "_id": "8",
    "name": "Mark",
    "email": "mark@example.com",
    "contact": "9999999888",
    "courseCount": 2,
    "isVerified": False
}
]

students_record = students.insert_many(list_of_records_user_defined_id)

In [29]:
find_first_record = students.find_one()

print(f"The first record of collection: \n{COLLECTION_NAME} is=\
\n{find_first_record}")

The first record of collection:
students is=
{'_id': '6', 'name': 'Hitesh', 'email': 'hitesh@hiteshchoudhary.com', 'contact': '9999999999', 'courseCount': 4, 'isVerified': True}

In [33]:
for i in students.find():
    print(i)

{'_id': '6', 'name': 'Hitesh', 'email': 'hitesh@hiteshchoudhary.com', 'contact': '9999999999', 'courseCount': 4, 'isVerified': True}
{'_id': '8', 'name': 'Mark', 'email': 'mark@example.com', 'contact': '9999999888', 'courseCount': 2, 'isVerified': False}

In [34]:
# find all the record at once present in the record with all the fields
all_record = students.find()

for idx, record in enumerate(all_record):
    print(f"{idx}: {record}")

0: {'_id': '6', 'name': 'Hitesh', 'email': 'hitesh@hiteshchoudhary.com', 'contact': '9999999999', 'courseCount': 4, 'isVerified': True}
1: {'_id': '8', 'name': 'Mark', 'email': 'mark@example.com', 'contact': '9999999888', 'courseCount': 2, 'isVerified': False}

In [35]:
# find all the record at once present in the record with SPECIFIC fields
all_record = students.find({}, {"email"})

for idx, record in enumerate(all_record):
    print(f"{idx}: {record}")

0: {'_id': '6', 'email': 'hitesh@hiteshchoudhary.com'}
1: {'_id': '8', 'email': 'mark@example.com'}

# Query or filter out data in MongoDB

In [80]:
for i in employees.find():
    print(i)

{'_id': ObjectId('62a830b3652508010d8ca27f'), 'id': '101', 'name': 'Peter', 'profession': 'Software Engineer'}
{'_id': ObjectId('62a831d6652508010d8ca280'), 'name': 'Hitesh', 'email': 'hitesh@hiteshchoudhary.com', 'contact': ['9999999999', '88888888888'], 'courseCount': 4, 'courseOffered': 'Deep Learning for Computer Vision', 'isVerified': True}
{'_id': ObjectId('62a831fa652508010d8ca281'), 'name': 'Hitesh', 'email': 'hitesh@hiteshchoudhary.com', 'courseCount': 4}
{'_id': ObjectId('62a831fa652508010d8ca282'), 'name': 'Mark', 'email': 'mark@example.com', 'courseCount': 2}
{'_id': ObjectId('62a831fa652508010d8ca283'), 'name': 'Tom', 'email': 'tom@example.com', 'courseCount': 5}
{'_id': ObjectId('62a831fa652508010d8ca284'), 'name': 'Jerry', 'email': 'jerry@example.com', 'courseCount': 3}
{'_id': ObjectId('62a831fa652508010d8ca285'), 'name': 'spider', 'email': 'spider@example.com', 'courseCount': 2}

In [84]:
for i in employees.find({'name': 'Hitesh'}):
    print(i)

{'_id': ObjectId('62a831d6652508010d8ca280'), 'name': 'Hitesh', 'email': 'hitesh@hiteshchoudhary.com', 'contact': ['9999999999', '88888888888'], 'courseCount': 4, 'courseOffered': 'Deep Learning for Computer Vision', 'isVerified': True}
{'_id': ObjectId('62a831fa652508010d8ca281'), 'name': 'Hitesh', 'email': 'hitesh@hiteshchoudhary.com', 'courseCount': 4}

In [98]:
for i in students.find({'_id':{'$gt':'1'}}):
    print(i)

{'_id': '6', 'name': 'Hitesh', 'email': 'hitesh@hiteshchoudhary.com', 'contact': '9999999999', 'courseCount': 4, 'isVerified': True}
{'_id': '8', 'name': 'Mark', 'email': 'mark@example.com', 'contact': '9999999888', 'courseCount': 2, 'isVerified': False}

In [101]:
query1 = {"_id": '6'}

results =students.find(query1)
for data in results:
    print(data)

{'_id': '6', 'name': 'Hitesh', 'email': 'hitesh@hiteshchoudhary.com', 'contact': '9999999999', 'courseCount': 4, 'isVerified': True}

# Delete one or many documents

In [102]:
# Lets add some random data in faculties
random_data = [
    {'_id': '3', 'companyName': 'Bbbbb', 'Faculty': 'XYZ'},
    {'_id': '4', 'companyName': 'Bbbbb', 'Faculty': 'ABC'},
    {'_id': '5', 'companyName': 'Bbbbb', 'Faculty': 'PQR'},
]

employees.insert_many(random_data)

In [103]:
# Lets delete one document in faculties
query_to_delete = {"Faculty": "XYZ"}

employees.delete_one(query_to_delete)

In [104]:
for i in employees.find({"_id": {"$gte": "4"}}):
    print(i)

{'_id': '4', 'companyName': 'Bbbbb', 'Faculty': 'ABC'}
{'_id': '5', 'companyName': 'Bbbbb', 'Faculty': 'PQR'}

In [105]:
employees.delete_many({"_id": {"$gte": "4"}})

In [ ]:
# NOTE: In order to delete all the documents present in the collection you can just pass and empty dictionary as shown below: -

#faculties.delete_many({})

In [ ]:
# # lets delete multiple record
# multi_query_to_delete = {"_id": {"$gte": "4"}}

# faculties.delete_many(multi_query_to_delete)

# Drop the entire collection

In [106]:
students.drop()

In [107]:
COLLECTION_NAME = "students"

_ = checkExistence_COL(COLLECTION_NAME=COLLECTION_NAME, DB_NAME=DB_NAME, db=db)

Collection:'students' in Database:'sample' does not exists OR
    no documents are present in the collection

# Update

In [110]:
for i in employees.find({},{'name': 'Tom'}):
    print(i)

{'_id': ObjectId('62a831fa652508010d8ca283'), 'name': 'Tom', 'email': 'tom@example.com', 'courseCount': 5}

In [118]:
present_data = {'name': 'Jerry'}
new_data = {"$set":{'name': 'Tom'}}

In [121]:
employees.update_one(present_data, new_data)

In [123]:
employees.update_many(present_data, new_data)

# Set limit to view N records

In [125]:
N_records = 3

N_record = employees.find().limit(N_records)

for idx, record in enumerate(N_record):
    print(f"{record}\n")

{'_id': ObjectId('62a830b3652508010d8ca27f'), 'id': '101', 'name': 'Peter', 'profession': 'Software Engineer'}

{'_id': ObjectId('62a831d6652508010d8ca280'), 'name': 'Hitesh', 'email': 'hitesh@hiteshchoudhary.com', 'contact': ['9999999999', '88888888888'], 'courseCount': 4, 'courseOffered': 'Deep Learning for Computer Vision', 'isVerified': True}

{'_id': ObjectId('62a831fa652508010d8ca281'), 'name': 'Hitesh', 'email': 'hitesh@hiteshchoudhary.com', 'courseCount': 4}